{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-md-4">
            {{ form_row(form.type) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.amount) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.periodStart) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.periodEnd) }}
        </div>
        <div class="col-12">
            {{ form_row(form.notes) }}
        </div>
    </div>

    <div class="d-flex gap-2">
        <button class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>
        <a class="btn btn-outline-secondary" href="{{ path('app_admin_account_show', {'uuid': account.uuid}) }}">Отмена</a>
    </div>
{{ form_end(form) }}
