{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-md-4">
            {{ form_row(form.code) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.sortOrder) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="d-flex gap-2">
        <button class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>
        <a class="btn btn-outline-secondary" href="{{ path('app_admin_electricity_tariff_zone_index') }}">Отмена</a>
    </div>
{{ form_end(form) }}
